<template>
  <div>
    {{message}}
  </div>
</template>

<script>
  import { getData } from '../../api/demo/demoIndex.js'
  export default {
    data() {
      return {
        message: ''
      }
    },

    async mounted() {
      let res = await getData(123)
      console.log(res)
      this.message = res.data.message
    }
  }
</script>

<style scoped>

</style>
